<div class="album-cards-container">
  <h1>Albums</h1>
  <div class="album-card-list">
    <mat-card *ngFor="let album of albums" (click)="goToDetail(album)" class="album-card">
      <div class="album-image-wrapper" (click)="playAlbum(album, $event)">
        <img mat-card-image src="{{album.album.album.images[0].url}}" alt="{{album.album.album.name}}" class="album-image">
        <div class="play-overlay">
          <mat-icon class="play-icon" style="color: white;height: 70px;width: 70px;font-size: 70px;">play_circle_outline</mat-icon>
        </div>
      </div>
      <mat-card-header>
        <mat-card-subtitle>{{album.album.album.artists[0].name}}</mat-card-subtitle>
        <mat-card-subtitle>{{album.album.album.release_date | date:"yyyy"}}</mat-card-subtitle>
        <mat-card-title>{{album.album.album.name}}</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</div>