.album-detail-container {
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
}

.album-info-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  width: 30%;
  min-width: 250px;
  text-align: center;

  label {
    margin: 2px 0px;
  }

  .button-text {
    margin-left: 2px;
  }
}

.album-info-container > .row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.row.icons > button {
  margin: 0px 5px;
}

.album-right-container {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
  min-width: 250px;
}

.album-tags-container {
  display: flex;
  flex-flow: column nowrap;
}

.album-tags-cloud {
  display: flex;
  flex-flow: row wrap;
}

.album-image {
  width: 70%;
}

.album-tracks-container {
  display: flex;
  flex-flow: column nowrap;

  .row {
    display: flex;
    flex-flow: row nowrap;

    label {
      padding: 5px;
    }
    
    .track-number {
      width: 20px;
      text-align: right;
    }

    .track-name {
      flex-grow: 1;
    }
    
    .track-duration {
      align-self: flex-end;
    }
  }
}