.album-card {
  max-width: 200px;
  margin: 10px;
}

.album-card .album-image-wrapper {
  position: relative;
}

.album-card .album-image {
  height: 100%;
}

.album-card .play-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: -16px -16px 19px -16px; /* I need this because MatCardImage has a -16px margin*/
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,.6);
  opacity: 0;
  transition: opacity 300ms;

  &:hover {
    opacity: 1;
  }
}

.mat-card-header-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  margin: 0 5px !important;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album-card .album-name {
  display: inline;
}

.album-card .tags-section div.mat-chip-list-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .mat-chip {
    flex: 0 0 auto;
  }
}

.album-card div.mat-chip-list-wrapper::-webkit-scrollbar {
  display: none;
}

// @mixin md-icon-size($size: 24px) {
//   font-size: $size;
//   height: $size;
//   width: $size;
// }

// .play-icon {
//   /* @include md-icon-size(76px); */
//   width: 76px;
//   height: 76px;
//   font-size: 76px;
//   color: white;
// }