.album-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: center;
  }
}

.album-card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}