<div class="tag-list-container">
  <mat-chip-list class="mat-chip-list-stacked" aria-orientation="vertical">
    <mat-chip>Papadum</mat-chip>
    <mat-chip>Naan</mat-chip>
    <mat-chip>Naan</mat-chip>
    <mat-chip>Dal</mat-chip>
    <mat-chip>Naan</mat-chip>
    <mat-chip>Papadum</mat-chip>
    <mat-chip>Papadum</mat-chip>
    <mat-chip>Papadum</mat-chip>
    <mat-chip>Naan</mat-chip>
    <mat-chip>Dal</mat-chip>
    <mat-chip>Papadum</mat-chip>
    <mat-chip>Naan</mat-chip>
    <mat-chip>Dal</mat-chip>
    <mat-chip>Dal</mat-chip>
    <mat-chip>Papadum</mat-chip>
    <mat-chip>Naan</mat-chip>
    <mat-chip>Naan</mat-chip>
    <mat-chip>Naan</mat-chip>
    <mat-chip>Naan</mat-chip>
    <mat-chip>Dal</mat-chip>
    <mat-chip>Papadum</mat-chip>
    <mat-chip>Papadum</mat-chip>
    <mat-chip>Naan</mat-chip>
    <mat-chip>Naan</mat-chip>
    <mat-chip>Dal</mat-chip>
    <mat-chip>Dal</mat-chip>
    <mat-chip>Dal</mat-chip>
  </mat-chip-list>
</div>