.tag-list-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

// .mat-chip-list-stacked .mat-chip-list-wrapper {
//   align-items: stretch !important;
// }

// .mat-chip-list-stacked .mat-chip-list-wrapper .mat-standard-chip {
//   width: auto !important;
// }