.root-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

$toolbar-height: 64px;

mat-sidenav {
  width: 200px;
}

app-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
  width: 100%;
  height: $toolbar-height;
}

div#outlet-container {
  padding-top: $toolbar-height;
}