.sidebar-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-height: 100%;
}

.headline-container {
  background: url('../../assets/logo.png') no-repeat top left;
  background-size: contain;
  text-align: right;
  padding-right: 5px;
  margin: 5px 0px;
}

.menu-button {
  text-align: left;
}