<div class="album-detail-container" *ngIf="album">
  <div class="album-info-container">
    <img src="{{album.images[0].url}}" alt="{{album.name}}" class="album-image">
    <label class="mat-h1">{{album.name}}</label>
    <label class="mat-body">{{album.artists[0].name}}</label>
    <label class="mat-body">{{album.release_date | date:"yyyy"}}</label>
    <label class="mat-body">{{album.total_tracks}} tracks</label>
    <button mat-button color="primary" (click)="playInApp()">
      <i class="material-icons">
        play_circle_outline
      </i>
      <span class="button-text">Play in app</span>
    </button>
    <button mat-button color="primary" (click)="playInWeb()">
      <i class="material-icons">
        play_circle_outline
      </i>
      <span class="button-text">Play in web</span>
    </button>
  </div>
  <div *ngIf="isSavedAlbum" class="album-tags-container">
    <h1>My Tags</h1>
    <mat-form-field>
      <mat-chip-list #tagList>
        <mat-chip *ngFor="let tag of tags" [removable]="true" (removed)="remove(tag)">
          {{tag.name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input [matChipInputFor]="tagList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>
  </div>
  <div *ngIf="!isSavedAlbum" class="album-listening-list">
    <button mat-raised-button color="primary" *ngIf="!isInListeningList" (click)="addToListeningList()">Add to
      Listening-List</button>
    <button mat-raised-button color="primary" *ngIf="isInListeningList" (click)="removeFromListeningList()">Remove from
      Listening-List</button>
  </div>
</div>