<div class="album-detail-container" *ngIf="album">
  <div class="album-info-container">
    <img src="{{album.images[0].url}}" alt="{{album.name}}" class="album-image">
    <h1>{{album.name}}</h1>
    <h3>{{album.artists[0].name}}</h3>
    <h3>{{album.release_date | date:"yyyy"}}</h3>
    <h3>{{album.total_tracks}} tracks</h3>
  </div>
  <div *ngIf="isSavedAlbum" class="album-tags-container">
    <h1>My Tags</h1>
    <mat-form-field>
      <mat-chip-list #tagList>
        <mat-chip *ngFor="let tag of tags" [removable]="true" (removed)="remove(tag)">
          {{tag.name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input [matChipInputFor]="tagList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>
  </div>
  <div *ngIf="!isSavedAlbum" class="album-listening-list">
    <button mat-raised-button *ngIf="!isInListeningList" (click)="addToListeningList()">Add to Listening-List</button>
    <button mat-raised-button *ngIf="isInListeningList" (click)="removeFromListeningList()">Remove from Listening-List</button>
  </div>
</div>