.search-container {
  display: flex;
  flex-flow: column nowrap;
  padding: 0px 20px;
  align-items: center;
}

.search-field {
  align-self: stretch;
}

.search-results {
  display: flex;
  flex-flow: row nowrap;
  align-self: stretch;
}

.albums-results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-grow: 1;
}